@model Inzynierka.Models.Car

@{
    ViewData["Title"] = "Dodaj Samochód";
}

<h1 class="text-primary">Dodaj Nowy Samochód</h1>
<h4 class="mb-4">Proszę podać szczegóły samochodu</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <!-- Numer rejestracyjny -->
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label">Numer rejestracyjny</label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>

            <!-- Model -->
            <div class="form-group">
                <label asp-for="Model" class="control-label">Model</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <!-- Marka -->
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Marka</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>

            <!-- VIN -->
            <div class="form-group">
                <label asp-for="VIN" class="control-label">VIN</label>
                <input asp-for="VIN" class="form-control" />
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>

            <!-- Potrzebne pozwolenie -->
            <div class="form-group">
                @Html.LabelFor(m => m.PermissionNeeded, "Potrzebne pozwolenie")
                @Html.DropDownListFor(m => m.PermissionNeeded, (SelectList)ViewBag.PermissionNeededList, "Wybierz pozwolenie", new { @class = "form-control" })
                <span asp-validation-for="PermissionNeeded" class="text-danger"></span>
            </div>

            <!-- Opis -->
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <!-- Przycisk wysyłania -->
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-success btn-lg" />
            </div>
        </form>
    </div>
</div>

<!-- Link do powrotu na listę -->
<div>
    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
